/* HoneyComb seems not working with font declaration, but Arial seems weirdly ok...
* {
    font-family: Roboto, Droid, Arial, sans-serif;
}
*/
@font-face {
    font-family: NotoInRes;
    src: url("file:///android_asset/NotoSansCJKjpRegular.otf");
    font-size: medium;
    text-align: justify;
}
* {
    font-family: NotoInRes, arial;
}
i {
    font-family: Georgia, Arial, serif;
}
.copula {
  color:red;
}

.possession {
  color: blue;
}

.ni, .he, .kare {
    color: green;
}

.te {
    color: purple;
}
.ga {
    color: #669999
}
.wa {
    color: #3366ff;
}
.o {
    color: #66ccff;
}
.ka {
    color: gray;
}
.yo {
    color: darkgray;
}
.mo {
    color: #ffcc00;
}
.kanji, .katakana {
    padding-right:0.3em;
    padding-left: 0.3em;
    font-weight: bolder;
    font-size:1.1em;
}

.example {
    white-space:pre-line;
}
