@font-face {
    font-family: notoinres;src: url('/NotoSansCJKjpRegular.otf') format("opentype");
}

* {
    font-family: notoinres, Arial, sans-serif;
}

.copula {
  color:red;
}

.possession {
  color: blue;
}

.ni, .he, .kare {
    color: green;
}

.te {
    color: purple;
}
.ga {
    color: #669999
}
.wa {
    color: #3366ff;
}
.o {
    color: #66ccff;
}
.ka {
    color: gray;
}
.yo {
    color: darkgray;
}
.mo {
    color: #ffcc00;
}
.kanji, .katakana {
    padding-right:0.3em;
    padding-left: 0.3em;
    font-weight: 600;
}

.example {
    white-space:pre-line;
}